@page "/"

<PageTitle>Simulador</PageTitle>

<div>
    <div class="text-center mb-5">
        <h2 class="fw-bold">Simulador de Energia Solar</h2>
        <p class="text-muted">Selecione o seu perfil para começar:</p>

        @* faz uma verificação e muda o estilo do botão para mostrar qual perfil está selecionado *@
        <div class="btn-group shadow-sm" role="group">
            <button type="button"
                    class="btn @(!Empresa ? "btn-primary" : "btn-outline-primary") px-4 py-2"
                    @onclick="() => Empresa = false">
                <span class="bi bi-house-door me-2"></span> Para Minha Casa
            </button>

            <button type="button"
                    class="btn @(Empresa ? "btn-primary" : "btn-outline-primary") px-4 py-2"
                    @onclick="() => Empresa = true">
                <span class="bi bi-building me-2"></span> Para Minha Empresa
            </button>
        </div>
    </div>

    <div>
        @* seleciona a pagina conforme valor de Empresa *@
        @if (Empresa)
        {
            <CalculadoraEmpresarial />
        }
        else
        {
            <CalculadoraResidencial />
        }
    </div>
</div>

@code {
    public bool Empresa { get; set; } = false;
}