@page "/sobre"

<PageTitle>Sobre</PageTitle>

<div class="container-sobre center">
    <h1>Sobre a Calculadora</h1>
    <p>A Calculadora Solar foi desenvolvida para auxiliar residências e pequenos negócios a estimarem, 
        de forma simples, rápida e acessível, o potencial de economia ao investir em energia solar fotovoltaica. 
        A ferramenta permite ao usuário simular a substituição parcial ou total da conta de energia elétrica, 
        apresentando uma estimativa da potência necessária do sistema e da quantidade aproximada de painéis solares para 
        atender ao consumo informado.</p>
    <h2>Justificativa</h2>
    <p>
        Nos últimos anos, o Brasil tem registrado crescimento significativo na adesão aos sistemas de
        micro e minigeração distribuída, regulamentados pela Agência Nacional de Energia Elétrica (ANEEL) 
        <a href ="https://www.gov.br/aneel/pt-br/assuntos/noticias/2025/micro-e-minigeracao-distribuida-de-energia-eletrica-cresceu-8-84-gw-em-2024"> [1]</a>.
        Esse avanço evidencia não apenas a consolidação da energia solar no país, mas também a necessidade de ampliar o acesso à informação qualificada, 
        já que muitos consumidores ainda encontram dificuldades para compreender aspectos técnicos e financeiros envolvidos nesse tipo de investimento.
        Diante desse cenário, a Calculadora Solar surge como uma ferramenta de apoio à tomada de decisão, 
        traduzindo dados técnicos em informações claras e objetivas.
    </p>
    <h2>Como Funciona</h2>
    <p>(Explicação técnica simples)</p>
    <h2>Sobre o Projeto</h2>
    <p>
        A Calculadora Solar é resultado de um projeto de extensão universitária, iniciativa acadêmica que 
        promove a integração entre universidade e sociedade.

        O projeto tem como objetivo contribuir para o letramento energético da comunidade, promovendo a 
        troca de saberes entre estudantes, professores e comunidade, além de facilitar o acesso a informações 
        técnicas sobre energia solar e sustentabilidade de maneira clara e acessível. 
        Por meio dessa ação, aplicamos conhecimentos acadêmicos na resolução de problemas reais, 
        promovendo diálogo entre a universidade e a sociedade.

        Acreditamos que democratizar o acesso à informação sobre energia renovável é um passo essencial para 
        ampliar a consciência ambiental e estimular decisões mais sustentáveis.
    </p>
    <h2>Referências</h2>
    <p>ANEEL – Agência Nacional de Energia Elétrica. Micro e minigeração distribuída de energia 
        elétrica cresceu 8.85 MW em 2024. Brasília: ANEEL, 2025. Disponível 
        em: <a href="https://www.gov.br/aneel/pt-br/assuntos/noticias/2025/micro-e-minigeracao-distribuida-de-energia-eletrica-cresceu-8-84-gw-em-2024">
            https://www.gov.br/aneel/pt-br/assuntos/noticias/2025/micro-e-minigeracao-distribuida-de-energia-eletrica-cresceu-8-84-gw-em-2024</a>.
        Acesso em: 19 fev. 2026.</p>
</div>