<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SimuladorEnergiaWASM</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="color: white" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Simulador
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-3" style="color: white" href="sobre" Match="NavLinkMatch.All">
                <span class="bi-patch-question-fill" aria-hidden="true"></span> Sobre
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" style="color: white" href="solarium" Match="NavLinkMatch.All">
                <span class="bi bi-calculator" aria-hidden="true"></span> Cálculos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" style="color: white" href="politicas" Match="NavLinkMatch.All">
                <span class="bi bi-bank" aria-hidden="true"></span> Políticas Públicas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" style="color: white" href="energias" Match="NavLinkMatch.All">
                <span class="bi bi-recycle" aria-hidden="true"></span> Fonte Alternativa
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
